.filter-container{
  width: 800px;
  margin-left: 150px;
  margin-bottom: 50px;
}
.form-select{
  margin-left:130px;
  background-color: rgb(255, 255, 255);
}
.btns{
  margin-left: 120px;
}
.card-container{
  width: 18rem;
  margin-top: 30px;
  row-gap: 20px;
}

@media screen and (max-width: 432px){
.filter-container{
  width: 500px;
  margin-left: -20px;
}
.btns{
  margin-top: -66px;
  margin-left:500px;
}
}
@media screen and (max-width: 991px){
.card-container{
     width: 14rem !important;
     margin-left: 30px;
     
}
}

@media screen and (max-width: 767px){
  .card-container{
       width: 25rem !important;
       margin-left: 130px;
       
  }
  }